  <div class="wrapper" (contextmenu)="onRightClick($event)">
    <div class="doc-panel" *ngIf="file">
      <gd-thumbnails *ngIf="file"
                     [pages]="file.pages"
                     [isHtmlMode]="htmlModeConfig"
                     [guid]="file.guid"
                     [mode]="htmlModeConfig"></gd-thumbnails>

      <gd-document *ngIf="file"
                   class="gd-document"
                   [file]="file"
                   [mode]="htmlModeConfig"
                   [preloadPageCount]="viewerConfig?.preloadPageCount"
                   gdRenderPrint
                   [htmlMode]="htmlModeConfig">
      </gd-document>
    </div>

    <gd-init-state *ngIf="!loading && !file" [icon]="'eye'" [text]="'Add url parameter for example: http://localhost:8080/viewer/?url=https://calibre-ebook.com/downloads/demos/demo.docx'" ></gd-init-state>
    <gd-loading-mask *ngIf="!file" [loadingMask]="loading"></gd-loading-mask>
    <gd-error-modal></gd-error-modal>
    <gd-password-required></gd-password-required>
  </div>
