<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Viewer</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="angular/viewer/dist/assets/css/all.min.css" />
</head>
<body>
<gd-viewer-angular-root></gd-viewer-angular-root>
<script type="text/javascript" src="angular/viewer/dist/runtime.js"></script><script type="text/javascript" src="angular/viewer/dist/es2015-polyfills.js" nomodule></script><script type="text/javascript" src="angular/viewer/dist/polyfills.js"></script><script type="text/javascript" src="angular/viewer/dist/styles.js"></script><script type="text/javascript" src="angular/viewer/dist/scripts.js"></script></script><script type="text/javascript" src="angular/viewer/dist/main.js"></script></body>
</html>
