* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 13px; */
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
/*
******************************************
Content wrapper
******************************************
*/
.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}
/*
******************************************
CONTAINER
******************************************
*/
#gd-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*
******************************************
HEADER
******************************************
*/
#gd-header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
}
/*
******************************************
LOGO
******************************************
*/
#gd-header-logo {
    width: 134px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100px 12px;
    background-position: 15px 20px;
    float: left;
    padding: 25px 0px;
    margin-right: 15px;   
}
/*
******************************************
NAV BUTTONS
******************************************
*/
#gd-navbar {
    margin-left: 10px;
    height: 100%;
}
#gd-navbar > li {
    font-size: 14px;
    float: left;
    position: relative;
    cursor: pointer;
    padding: 19px 15px 17px 15px;
}
.gd-nav-separator {
    width: 20px;
    height: 100%;
    margin: 0 !important;
    cursor: default !important;
}
#gd-nav-right {
    float: right !important;
}
.gd-nav-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.gd-nav-dropdown-menu {
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    display: none;
}
.gd-nav-dropdown-menu li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
}
.gd-nav-dropdown-menu-separator {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    padding: 0 !important;
}
#gd-zoom-val-container {
    min-width: 50px;
}
.gd-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: 37px;
    margin-left: -66px;
    font-size: 10px;
}
.gd-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
#gd-navbar li:hover .gd-tooltip {
    visibility: visible;
}
#gd-header-logo:hover .gd-tooltip {
    visibility: visible;
    margin-left: 10px;
    margin-top: 31px;
}
#gd-nav-right:hover .gd-tooltip {
    margin-left: -108px;
}
#gd-nav-right .gd-tooltip::after {
    left: 85%;
}

/*
******************************************
SEARCH
******************************************
*/
#gd-nav-search-container {
    min-width: 330px;
    padding: 8px 0px 7px 7px;
    position: absolute;
    display: none;
    right: 0px;
    float: left;
    top: 49px;
    z-index: 1;
}
#gd-nav-search-container input[type='text'] {
    float: left;
    border: 0;
    height: 20px;
    width: 215px;
    padding: 5px 65px 5px 5px;
}
#gd-nav-search-container input[type='text']:focus {
    outline: none;
}
#gd-nav-search-cancel {
    font-size: 15px;
    width: 10px;
    margin-left: 1px;
    margin-top: -2px;
}
.gd-nav-search-btn {
    float: left;
    margin: 0px 10px;
    padding: 3px 5px;
}
#gd-search-count {
    color: #959DA5;
    font-size: 11px;
    position: absolute;
    left: 154px;
    top: 13px;
    text-align: right;
    width: 62px;
}
/*
******************************************
Search highlight
******************************************
*/
.gd-highlight {
    background-color: yellow;
}
.gd-highlight-select {
    background-color: #ff9b00;
}
/*
******************************************
PAGES
******************************************
*/
#gd-pages {
    background-color: #e7e7e7;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll!important;
    padding-top: 60px;

    /* Hides the scrollbar */
    transition:all 0.4s;
    overflow: visible;
}
#gd-pages img {
    left: 0;
    width: inherit;
}
#gd-panzoom {
    transform: none;
    backface-visibility: hidden;
    transform-origin: 50% 50% 0px;
    text-align: center;
}
.gd-page {
    display: inline-block;
    background-color: #ffffff;
    margin: 10px;
    -webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.38);
    box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.38);
    transition: all 0.3s;
}
.gd-page .gd-wrapper {
    padding: 0;
    width: inherit;
    height: inherit;
}
.gd-page-spinner {
    margin-top: 150px;
}
.gd-landscape{
    margin: -111px 254px;
}
.gd-landscape-rotated{
    margin: 164px 254px;
}
.gd-thumbnails-landscape-rotated{
    margin: 197px 0px -1px -59px;
}
.gd-landscape-image{
    margin: -72px 100px -79px ;
}
.gd-landscape-image-rotated {
    margin: 129px 100px -79px;
}
/* Fix for image files */
#gd-pages .gd-wrapper > img {
    max-width: 100vw !important;
    display: -webkit-box;
}

/*
******************************************
Thumbnails sidebar
******************************************
*/
#gd-thumbnails {
    top: 0;
    bottom: 0;
    display: none;
    position: fixed;
    z-index: 9;
    padding: 65px 33px;
}
#gd-thumbnails.active {
    width: 280px;
    background: #f5f5f5;
    color: #ffffff;
    transition: all 0.3s;
    overflow-y: auto;
    display: block;
}
#gd-thumbnails-panzoom {
    transform: scale(0.25);
    transform-origin: 25% 0px 0px;
    left: 15px;
    margin-left: -57px;
}
#gd-thumbnails-panzoom > .gd-page {
    margin-bottom: 100px;
    margin-left: 0;
}
#gd-thumbnails-panzoom > .gd-thumbnails-landscape{
     margin: -134px 0px -1px 12px;
}
#gd-thumbnails-panzoom .gd-wrapper > div > div > img {
    width: inherit;
}
/* Make thumbnails sidebar scroll not visible */
#gd-thumbnails::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}
#gd-thumbnails .gd-wrapper > img {
    position: absolute;
    width: -webkit-fill-available !important;
    margin: 0 20px;
    left: 0;
}
#gd-thumbnails .gd-page-image{
    height: inherit;
    margin-left: 153px !important;
}
.gd-thumbnails-landscape-image{
    margin: -90px 0 -23px !important;
}
.gd-thumbnails-landscape-image-rotated {
    margin: 126px 0 -3px -104px !important;
}

/*
******************************************
MODAL
******************************************
*/
.gd-modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.5);
}
.gd-modal-dialog {
    position: absolute;
    width: 700px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 350px);
}
.gd-modal-content {
    background-color: #ffffff;
    height: 100%;
}
.gd-modal-header {
    padding: 1px 20px;
}
.gd-modal-close {
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 21px;
    cursor: pointer;
}
.gd-modal-title {
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
}
.gd-modal-body {
    background-color: #ffffff;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 52px);
    overflow-y: auto;
    /* margin-right: 14px; */
    /* padding-right: 28px; */
}
.gd-modal-table {
    width: 100%;
    text-align: left;
}
.gd-modal-table th:nth-child(3), .gd-modal-table th:last-child {
    width: 31%;
    padding-left: 52px;
}   
.gd-modal-table > tbody > tr > td {
    font-size: 14px;
    padding: 10px 6px;
}
.gd-modal-table > tbody > tr > td:nth-child(2) {
    cursor: pointer;
    max-width: 200px;
    overflow: hidden;
}
.gd-modal-table td:nth-child(3), .gd-modal-table td:last-child {
    font-size: 12px;
}
.gd-modal-table td:last-child {
    padding-left: 45px
}
.gd-modal-footer {
    height: 25px;
}
.gd-modal-footer > .btn {
    float: right;
    margin: 20px 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
}
#gd-modal-spinner {
    background-color: #ffffff;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 16px;
    display: none;
}
#gd-modal-error {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    font-size: 13px;   
    margin: -20px;
    padding: 20px;
}
#gd-upload-section {
    text-align: center;
}
#gd-upload-section label {
    background-color: #3e4e5a;
    border-radius: 0px;
    color: #ffffff;
    padding-top: 9px;
    padding-left: 7px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
}
#gd-upload-button, #gd-open-document {
    position: relative;
    right: 0px;
    bottom: 20px;
    width: 267px;
    background-color: #3e4e5a;
    border: none;
    height: 40px;
    color: #ffffff;
}  
#gd-open-document {
    right: -15px;
    background-color: #25c2d4;
}
#gd-upload-button:disabled {
    cursor: not-allowed;
}
#gd-upload-files-table {
    width: 100%;
    margin-bottom: 30px;
    border-spacing: 0;
}
#gd-upload-files-table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
#gd-upload-files-table div div > i {
    font-size: 21px;
    position: absolute;
    top: 25px;
    left: 10px;
}
#gd-upload-files-table .gd-filetree-name {
    position: absolute;
    top: 20px;
    left: 40px;
    width: calc(100% - 130px);
    text-align: left;
}
#gd-upload-files-table .gd-filetree-name > span {
    font-size: 12px;
    font-weight: 300;
    color: #9a9a9a;
    margin-right: 15px;
}
.gd-upload-status{
    position: absolute;
    width:  18px;
    height:  18px;
}
.gd-upload-complete {
    color: #addca5;
    display: none;
    right: 55px;
    top: 3px;
}
.gd-cancel-button {
    padding: 7px;
    background: none;
    width: 28px;
    overflow: hidden;
}
.gd-cancel-button i {
    font-size: 21px;
}
.gd-file-name {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
#gd-upload-files-table.gd-file-name {
    font-weight: bold;
}
section {
}
#gd-upload-section label i {
    margin-right: 10px;
    margin-left: -10px;
}
.btn {
    font-size: 14px;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.gd-desktop{
    position: absolute;
    text-align: right;
    left: 20px;
    top: 18px;
}
.gd-url-wrap {
    margin-top: 5px;
    position: relative;
}
.gd-url-wrap > input {
    padding: 0 30px 0 12px;
    width: 625px;
    height: 32px;
    color: #585858;
}
#gd-url-cancel {
    background: transparent;
    font-size: 20px;
    padding: 0 15px;
    color: #e44646;
    margin-top: -4px;
}
#gd-add-url{
    background: transparent;
    font-size: 20px;
    color: #3e4e59;
    position: absolute;
    right: 40px;
    top: 5px;
}
.gd-password-wrap {
    position: relative;
    margin-left: -18px;
    margin-top: 118px;
}
.gd-password-wrap > input {
    padding-left: 12px;
    margin-left: 35px;
    width: 454px;
    height: 32px;
    color: #585858;
}
#gd-password-submit{
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #3e4d59;
    padding: 7px 16px 6px;
    font-size: 12px;
}
.gd-password-error{
    position: absolute;
    top: 38px;
    left: 35px;
    color: #ff0000;
}
.gd-drag-n-drop-wrap {
    border: 2px dashed #ccc;
    background-color: #f8f8f8;
    text-align: center;
    cursor: default;
    height: 253px;
}
.gd-drag-n-drop-wrap h2 {
    color: #cacaca;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 300;
}
.gd-drag-n-drop-wrap h4 {
    color: #cacaca;
    font-weight: 300;
    font-size: 12px;
    margin: 10px 0 15px;
}
.gd-drag-n-drop-wrap h5 {
    color: #afafaf;
    font-weight: 200;
    font-size: 12px;
    margin: 20px 0 0 0;
}
.gd-drag-n-drop-icon {
    margin: 30px auto 0;
}
.gd-drag-n-drop-icon .fa-cloud-download {
    color: #f1f1f1;
    font-size: 110px;
}
.gd-drag-n-drop-buttons i {
    margin-right: 5px;
}
.gd-drag-n-drop-buttons .btn {
    width: 134px;
    height: 35px;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 400;
}
#gd-file {
    display: none;
}
#gd-dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}
.gd-go-up{
    cursor: pointer;
}
/*
******************************************
Document types
******************************************
*/
.fa-file-pdf-o {
    color: #c11e07;
}
.fa-file-word-o {
    color: #2a5699;
}
.fa-file-powerpoint-o {
    color: #d24625;
}
.fa-file-excel-o {
    color: #207245;
}
.fa-file-image-o {
    color: #25c2d4;
}
.fa-file-text-o {
    color: #D89E13;
}
.fa-file-code-o {
    color: #636363;
}
/*
******************************************
Fade annimation
******************************************
*/
.gd-modal.fade .gd-modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.gd-modal.in .gd-modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
/*
******************************************
Swipe elements
******************************************
*/
.swiper-wrapper{
    height: 76px !important;
}
.swiper-slide{
}